{% extends "base.html" %}

{% load chunker %}
{% load thumbnail %}

{% block content %}
  <div class="breadcrumbs" class="span-15 last"><a href="/">Home</a>
    &raquo; <a href="/multimedia/">Multimedia gallery</a>  <span class="selected"><a href="#">Photos </a></span>
  </div><!--end breadcrumbs -->
<div class="span-15 last" id="combo_box"> <!--combo box to house title, category and year dropdown box-->
        	<div class="span-7" id="title"><img src="http://spectrum.webfactional.com/media/img/multimedia/photos_header.png" /></div>
            <div id="category"><img src="media/combo_box_category.jpg"/></div>
            <div id="year"><img src="media/combo_box_year.jpg" /></div>
        </div> <!--combo box ends-->

  <div class="pagination" class="span-15 last">
    {% if photos.has_previous %}
    <div class="span-3" id="prev_btn">
        <a href="?page={{ pages.previous_page_number }}"><img src="http://spectrum.webfactional.com/media/img/multimedia/prev_btn.png" border="0" /></a>
    </div>
    {% endif %}
    <div class="span-9" id="pages">
    <ul class="pages">
    <li class="page_active"><a href="">1</a></li>
    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li class="page_active">...</li>
                    <li><a href="">7</a></li>
     <li><a href="">8</a></li>
    </ul>
    </div>
    {% if photos.has_next %}
    <div class="span-3 last" id="next_btn">
        <a href="?page={{ pages.next_page_number }}"><img src="http://spectrum.webfactional.com/media/img/multimedia/next_btn.png" border="0" /></a>
    </div>
    {% endif %}
  </div><!-- pagnation ends -->

<div class="span-15 last" id="photo_gallery"> <!--thumbnails-->
  <table cellpadding="0" cellspacing="0" class="gallery">
    {% for row in photos.object_list|chunk:9 %}
      <tr>
        {% for photo in row %}
          {% if photo %}
            <td><a href="/multimedia/photos/{{ photos.number }}/{{ photo.id }}"><img src="{% thumbnail photo.image 60x60 crop upscale %}" alt="{{ photo.title }}" /></a></td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  
{% endblock %}