{% extends "base.html" %}

{% block content %}
  <div class="breadcrumbs"><a href="/">Home</a>
    &raquo; <a href="/multimedia/?page={{ page }}">Multimedia gallery</a>
    &raquo; <a href="/multimedia/{{ page }}/{{ photo.id }}">Photos</a>
  </div>
  
  <h1>Photos</h1>
  
  <div><a href="/multimedia/?page={{ page }}">Back to gallery</a></div>

  <div class="photo">
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" />
    
    <div class="title">{{ photo.title }}</div>
    <!-- <div class="tags">{{ photo.tags }}</div> -->
  </div>
{% endblock %}