{% extends "base.html" %}

{% block content %}
  <p>
    <object type="application/x-shockwave-flash" data="{{ MEDIA_URL }}swf/homeflash.swf" height="282" width="619">
  		<param name="movie" value="{{ MEDIA_URL }}swf/homeflash.swf" />
  		<param name="wmode" value="opaque" />
  	</object>
  </p>
  <div class="span-15" id="article"> <!--article container to house all article entries-->
    {% for entry in news_entries %}
      <div class="articles-entry">
        <div class="article-heading">{{ entry.headline }}</div>
        {{ entry.excerpt|truncatewords_html:35 }}
        <div class="article-date">posted on <span class="posted">{{ entry.created_on|date:"j M y" }}</span></div>
        <div class="article-link"><a href="/news/{{ entry.slug }}">Read full article</a> &raquo;</div>
	<div class="clearfix"></div>
      </div>
    {% endfor %}
  </div>
  
  <div id="subhighlights">
        {% for sh in shs %}
            <a href="{{ sh.link }}"><img src="{{ sh.image.url }}" /></a>
        {% endfor %}
   </div>
{% if show_fb_stream %}
		<!-- space temp between highlights and fbstream -->
		<br /><br />
  		<div id="fb-stream">
  		  <fb:live-stream width="619" height="300"></fb:live-stream>
  		</div>
  		<p><span id="disclaimer">Spectrum Worldwide reserves all right to remove any content in this box that is deemed inappropriate or irrelevant to OCBC Cycle Singapore.</span></p>
		{% endif %}
{% endblock %}