{% extends "base.html" %}

{% block content %}
  <p><!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="{{ MEDIA_URL }}swf/homeflash.swf">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
        <div>
          alternative served via swfobject
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
  </p>
  <div class="span-15" id="article"> <!--article container to house all article entries-->
    {% for entry in news_entries %}
      <div class="articles-entry">
        <div class="article-heading">{{ entry.headline }}</div>
        {{ entry.excerpt|safe }}
        <div class="article-date">posted on <span class="posted">{{ entry.created_on|date:"j M y" }}</span></div>
        <div class="article-link"><a href="/news/{{ entry.slug }}">Read full article</a> &raquo;</div>
	<div class="clearfix"></div>
      </div>
    {% endfor %}
  </div>
  
  <div id="subhighlights">
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        {% for subhighlight in subhighlights %}
          <td class="subhighlight" width="33%" align="center">
            <a href="{{ subhighlight.link }}"><img src="{{ subhighlight.image.url }}" width="190" /></a>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
{% endblock %}