{% extends "base.html" %}

{% block content %}
  <div id="news">
    {% for entry in news_entries %}
      <div class="entry">
        <h1>{{ entry.headline }}</h1>
        <p>{{ entry.excerpt }}</p>
        <div class="date">{{ entry.created_on|date:"j M y" }}</div>
        <div class="link"><a href="/news/view/{{ entry.slug }}">Read full article</a> &raquo;</div>
      </div>
    {% endfor %}
  </div>
  
  <div id="ads">
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <td class="ad" width="33%" align="center">
          {% for ad in ads %}
            <a href="{{ ad.link }}"><img src="{{ MEDIA_URL }}{{ ad.image.url }}" width="150" /></a>
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
{% endblock %}