*.pyc
*.swp
*~
myproject/spectrum.db
myproject/local_settings.py
myproject/media/riders
myproject/media/_swf
myproject/media/ads
myproject/media/thumbs
myproject/media/multimedia
myproject/media/img/_highlights
myproject/media/subhighlights
django-haystack
django-imagekit
fabric
whoosh
django-filebrowser
sorl-thumbnail
pyfacebook
django-oembed
pip-log.txt
