django
django-tinymce
gdata
-e git+git://github.com/ericflo/django-oembed.git#egg=django-oembed
-e svn+http://django-filebrowser.googlecode.com/svn/trunk/#egg=django-filebrowser
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl-thumbnail
-e git+git://github.com/sciyoshi/pyfacebook.git#egg=pyfacebook
