django
django-tinymce
gdata
django-extensions
-e svn+http://django-mptt.googlecode.com/svn/trunk/#egg=django-mptt
-e hg+http://bitbucket.org/jdriscoll/django-imagekit/#egg=django-imagekit
-e git+git://github.com/ericflo/django-oembed.git#egg=django-oembed
-e svn+http://django-filebrowser.googlecode.com/svn/trunk/#egg=django-filebrowser
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl-thumbnail
-e git+git://github.com/sciyoshi/pyfacebook.git#egg=pyfacebook
-e git+git://github.com/bitprophet/fabric.git#egg=fabric
-e git+git://github.com/toastdriven/django-haystack.git#egg=django-haystack
#-e git+git://github.com/toastdriven/whoosh.git#egg=whoosh
