<div class="{{response.provider_name|slugify}}">
{% autoescape off %}
{% if response.author_name %}<a href="{{response.author_url}}" class="author">{{ response.author_name }}</a> on <a href="{{response.url}}">{{response.provider_name}}</a>{% endif %}
<p>
{% block social_photo %}	
   <a href="{{ url }}">
	 <img src="{% firstof response.thumbnail_url response.url %}" alt="{{ response.title }}" />
   </a>
{% endblock %}
<span class="title">{{ response.title }}</span>
</p>
{% endautoescape %}
</div>