<?xml version="1.0" encoding="UTF-8"?>
{% load socialfeed_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="http://www.facebook.com/2008/fbml"
  xml:lang="en" lang="en">
<head>
	<title>OCBC Cycleworks - Development</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />	
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/keybase.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/entourage.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/entourage_scroll.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/flexcroll/flexcroll.js"></script>
	<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/canvasSwap/jquery.canvasSwap.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/canvasSwap/jquery.cacheimage.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tooltip/jquery.tooltip.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tooltip/jquery.bgiframe.js"></script>
	<link rel="stylesheet" href="{{ MEDIA_URL }}js/tooltip/jquery.tooltip.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/tooltip/jquery.dimensions.js"></script>
	<script type="text/javascript">
	  $(document).ready(function(){
	    $.fn.canvasSwap.defaults.suffix = '_hover';
	    $.fn.canvasSwap.defaults.ie6_support = true;
	    $('img.about_swap').canvasSwap();
	    $('img.event_swap').canvasSwap();
	    $('img.preride_swap').canvasSwap();
	    $('img.cycling_swap').canvasSwap();
	    $('img.involved_swap').canvasSwap();
	    $('img.contests_swap').canvasSwap();
	    $('img.promos_swap').canvasSwap();
	    $('img.multimedia_swap').canvasSwap();
	    $('img.faqs_swap').canvasSwap();
	  });
	</script>
	<!-- lazy image cache -->
	<script type="text/javascript">
	  $(document).ready(function(){
	    $.cacheImage([
	      '{{ MEDIA_URL }}img/nav_about_experience_hover.png',
	      '{{ MEDIA_URL }}img/nav_event_details_hover.png',
	      '{{ MEDIA_URL }}img/nav_pre_ride_hover.png',
	      '{{ MEDIA_URL }}img/nav_cycling_lifestyle_hover.png',
	      '{{ MEDIA_URL }}img/nav_whos_involved_hover.png',
	      '{{ MEDIA_URL }}img/nav_contests_hover.png',
	      '{{ MEDIA_URL }}img/nav_merch_promos_hover.png',
	      '{{ MEDIA_URL }}img/nav_multimedia_hover.png',
	      '{{ MEDIA_URL }}img/nav_faqs_hover.png'
	    ])
	});
	</script>
	<script type="text/javascript">
	  $(document).ready(function() {
	    $('#entourage-content .friend-avatar').tooltip({
	      delay: 0, showURL: false,
	    });
	  });
	</script>
</head>
<body>
<div class="container"><!--Main Container-->

		 <div class="span-25" id="header"> <!--Top-->
		    <div class="span-14" id="logo"><a href="/"><img src="{{ MEDIA_URL }}img/ocbc_cycle_top.gif" alt="Cycleworks Home" /></a></div>
	
		      <div class="span-8 push-1" id="link-bar"> + <a href="/e-newsletter/">eNewsletter</a> | <a href="/news/">News archive</a> | <a href="/pages/volunteers/">Volunteers</a> | <a href="/pages/2009-results/">2009 results</a></div>

		      <div class="span-10" id="searchBox"> <!--Search Box-->
			<form id="search-form" method="get" action=".">
			  <input type="text" value="type search"/>
			  <div id="searchBtn">
			    <input type="image" src="{{ MEDIA_URL }}img/search-btn.png" alt="Submit button" />
			  </div>
			</form>
		      </div> <!--Search Box ends-->
		</div> <!--Top ends-->

	<div class="span-20" id="wrapper_A"> <!--wraps left col and content-->
		<div class="span-20" id="roundTop"></div>
		<div class="span-20 bg"> <!--bg-->
		<div class="span-4" id="leftCol"> <!--left col-->
		  <div id="nav-bar">
		      <!-- Flash counter from Alex -->
		      <img src="{{ MEDIA_URL }}img/clock.png" alt="temp" /><br />
		      <!-- navigation buttons -->
		      <a href="/pages/about-the-experience/"><img src="{{ MEDIA_URL }}img/nav_about_experience.png" border="0" class="about_swap" alt="About the experience" /></a><br/>
		      <a href="/pages/event-details/"><img src="{{ MEDIA_URL }}img/nav_event_details.png" border="0" class="event_swap" alt="Event details" /></a><br/>
		      <a href="/pages/pre-ride/"><img src="{{ MEDIA_URL }}img/nav_pre_ride.png" border="0" class="preride_swap" alt="Pre-ride" /></a><br/>
		      <a href="/pages/cycling-and-lifestyle-village/"><img src="{{ MEDIA_URL }}img/nav_cycling_lifestyle.png" border="0" class="cycling_swap" alt="Cycling and Lifestyle Village" /></a><br/>
		      <a href="/pages/who-is-involved/"><img src="{{ MEDIA_URL }}img/nav_whos_involved.png" border="0" class="involved_swap" alt="Who's involved" /></a><br/>
		      <a href="/pages/contests/"><img src="{{ MEDIA_URL }}img/nav_contests.png" border="0" class="contests_swap" alt="Contest" /></a><br/>
		      <a href="/pages/merchandise-and-promos/"><img src="{{ MEDIA_URL }}img/nav_merch_promos.png" border="0" class="promos_swap" alt="Merchandise and promos" /></a><br/>
		      <a href="/multimedia/"><img src="{{ MEDIA_URL }}img/nav_multimedia.png" border="0" class="multimedia_swap" alt="Multimedia" /></a><br/>
		      <a href="/pages/faqs/"><img src="{{ MEDIA_URL }}img/nav_faqs.png" border="0" class="faqs_swap" alt="FAQs" /></a><br/>
		  </div> <!-- navigation buttons ends-->
	      </div> <!--left col ends-->
	      <div class="span-16 last" id="central">
		<!-- Slango-generated content -->
		{% block content %}{% endblock %}
		<p><span id="disclaimer">Spectrum Worldwide reserves all right to remove any content in this box that is deemed inappropriate or irrelevant to OCBC Cycle Singapore.</span></p>
	      </div><!-- end central -->
	      </div><!-- end bg -->
	      <div class="span-20" id="roundBottom"></div>
	    </div><!--wrapper for left col and content ends-->

	    <div class="span-5 last" id="rightCol"> <!--right col-->
			<!-- My Entourage/Social -->
			    <div id="entourage">
				<div id="entourage-header">
				  <!-- display changes according to login status -->
				  <div id="whats_happening">See what's happening &raquo;</div>
				</div>
				<div id="entourage-content" class="{% if current_user %}logged_in{% else %}visitor{% endif %}">
				  {% include "entourage/_box.html" %}
				</div>
				<div id="entourage-share">
				  <span>Share this site <img src="{{ MEDIA_URL }}img/social/icon01.png" border="0" /><img src="{{ MEDIA_URL }}social/icon02.png" border="0" /><img src="{{ MEDIA_URL }}img/social/icon03.png" border="0" /></span> 
				</div>
			    </div>
			    <div id="socialfeed">
		  `		<!--><img src="{{ MEDIA_URL }}img/temp_socialfeed.png" /><br /><-->
				<div id="socialfeed-header"></div>
				<div id="socialfeed-content">
			            {% socialfeed %}
			        </div>
			        <div id="socialfeed-bottom"></div>
			    </div>
			  <div id="ads">
			    <table cellpadding="0" cellspacing="0" style="width: 100%;">
			      <tr>
				{% for ad in ads %}
				  <td class="ad" width="100%" align="center">
				    <a href="{{ ad.link }}"><img src="{{ ad.image.url }}" width="190" /></a>
				  </td>
				{% endfor %}
			      </tr>
			    </table>
			  </div>
	</div>
 <div id="footer"> <!--footer--> 
    <div id="footer_sponsors" class="container">
	<div id="title_sponsor"><p>Title Sponsor</p><a href=""><img src="{{ MEDIA_URL }}img/sponsors/sponsor_OCBC.jpg" /></a></div>
	<div id="event_organiser"><p>Event Organiser</p><a href=""><img src="{{ MEDIA_URL }}img/sponsors/sponsor_Spectrum.jpg" /></a></div>
	<div id="sports_promotion"><p>In support of sports promotion</p><a href=""><img src="{{ MEDIA_URL }}img/sponsors/sponsor_SG_Sports_Council.jpg"/></a></div>
	<div id="in_support_of"><p>In support of</p><a href=""><img src="{{ MEDIA_URL }}img/sponsors/sponsor_In_Support_Of.jpg"/></a></div>
	<div id="partner_in_sports"><p>Partners in sports</p><a href=""><img src="{{ MEDIA_URL }}img/sponsors/sponsor_Partner_In_Sports.jpg"/></a></div>
	
    </div>
    
</div> <!--footer ends-->

</div> <!-- close main container -->
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  <script type="text/javascript">
    FB_RequireFeatures(["Connect"], function() {
      FB.init("b1cb2c1a8482b66317dbb77f129229fe", "{{ MEDIA_URL }}/fbconnect/xd_receiver.htm",
        {"reloadIfSessionStateChanged": true});
    });
  </script>  
</body>
</html>