{% load chunker %}
{% load thumbnail %}

{% if not current_user %}
  <p>
    <a href="#" onclick="FB.Connect.requireSession(); return false;">
      <img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif"
    	     alt="Connect through Facebook" />
    </a>
  </p>

  <p><a href="#" onclick="$('#login-form').toggle('fast');">Use standard login.</a></p>

  <form id="login-form" action="" method="post" style="display:none">
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
    </p>
    <p>
      <label for="Password">Password:</label>
      <input type="password" name="password" id="password" />
    </p>
    <p>
      <input type="submit" value="Log in" />
    </p>
  </form>

  <p><a href="/entourage/signup">Not registered?  Sign up here.</a></p>
{% else %}
  {% with current_user as rider %}
    
    {% if rider.avatar %}
      <div class="avatar"><img src="{% thumbnail rider.avatar 50x50 %}" alt="{{ rider.name }}" /></div>
    {% endif %}
    
    <h2>Welcome</h2>
    <h3>{{ rider.name }}</h3>
    
    <div><a href="/entourage/logout" onclick="FB.Connect.logoutAndRedirect('/entourage/logout'); return false;">Log out</a></div>
    
    {% if rider.phone %}
      <p>Telephone: {{ rider.phone }}</p>
    {% endif %}
    {% if rider.phone_mobile %}
      <p>Mobile: {{ rider.phone_mobile }}</p>
    {% endif %}
    {% if rider.email %}
      <p>Email: {{ rider.email }}</p>
    {% endif %}
    
    {% ifnotequal rider.facebook None %}
      <h3>My Entourage</h3>
      {% if current_reg_friends %}
        <p>Friends who have registered.</p>
      {% endif %}
      <table cellpadding="0" cellspacing="0">
        {% for row in current_reg_friends|chunk:5 %}
          <tr>
            {% for friend in row %}
              <td><a href="#"><img src="{% thumbnail friend.avatar 40x40 %}" alt="{{ friend.name }}" /></a></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      
      <p>All friends</p>
      {% if current_friends %}
        <p>All friends</p>
      {% endif %}
      <table cellpadding="0" cellspacing="0">
        {% for row in current_friends|chunk:5 %}
          <tr>
            {% for friend in row %}
              <td><a href="#"><img src="{{ friend.pic_square }}" height="40" alt="{{ friend.name }}" /></a></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endifnotequal %}
  {% endwith %}
{% endif %}