
{% load chunker %}
{% load thumbnail %}

{% if not current_user %}
  <p>Using my Facebook Account <br/>
    <a href="#" onclick="FB.Connect.requireSession(); return false;">
      <img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif"
             alt="Connect through Facebook" />
    </a> <br />
    <img src="http://spectrum.webfactional.com/media/img/social/text-or.png"/>
  </p>

  <form id="login-form" action="" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <label for="password">&amp;Password:</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="" class="btn"/>
  </form>
  <p><span class="red"><a href="">Forgot password?</a></span><br/>
    New User? <span class="red"><a href="">Create profile</a></span> to<br />access all site features!</p>
{% else %}
  {% with current_user as rider %}
   <div id="entourage_profile">
    {% if rider.avatar %}
      <img src="{% thumbnail rider.avatar 32x32 %}" alt="{{ rider.name }}" />
    {% endif %}
    <b>Welcome</b>{{ rider.name }}<a href="/entourage/logout" onclick="FB.Connect.logoutAndRedirect('/entourage/logout'); return false;">Log out</a>
      
    </div>
     <div id="entourage_scroll" class="flexcroll"> <!--scroll-->
    {% ifnotequal rider.facebook None %}
      <h3>My Entourage</h3>
      {% if current_reg_friends %}
        <p>Friends who have registered.</p>
      {% endif %}
      <table cellpadding="0" cellspacing="0">
        {% for row in current_reg_friends|chunk:5 %}
          <tr>
            {% for friend in row %}
              <td><a href="#"><img src="{% thumbnail friend.avatar 25x25 %}" alt="{{ friend.name }}" /></a></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      
      {% if current_friends %}
        <p>All friends</p>
      {% endif %}
      <table cellpadding="0" cellspacing="0">
        {% for row in current_friends|chunk:5 %}
          <tr>
            {% for friend in row %}
              <td><a href="#" class="friend-avatar" title="{{ friend.name }}"><img src="{{ friend.pic_square }}" height="25" width="25" alt="{{ friend.name }}" /></a></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% endifnotequal %}
  </div> <!--scroll ends-->
  {% endwith %}
{% endif %}


