.scrollgeneric {line-height: 1px;font-size: 1px;position: absolute;top: 0; left: 0;}

.vscrollerbase {
width: 9px;
background: url(http://spectrum.webfactional.com/media/img/social/scroll_bg.png) 0px 0px repeat-y;
}

.vscrollerbar {
background: url(http://spectrum.webfactional.com/media/img/social/scroll_bg.png) -9px 0px no-repeat;
padding: -80px;
margin-bottom: 0px;
z-index: 2;
width: 9px;
}

.vscrollerbarbeg {
width: 9px;
height: 0; !important;
}

.vscrollerbarend {
width: 9px;
height: 0; 
}


/* Scroll Bar Master Styling Ends Here */

/*------------*/
#entourage_scroll {
/* Typical fixed height and fixed width example */
width: 160px;
height: 160px;
margin: -5px 0 0 20px;
overflow: auto;
overflow-x: hidden;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
}

#socialfeed_scroll {
/* Typical fixed height and fixed width example */
width: 175px;
height: 160px;
margin: 40px 0 0 5px;
overflow: auto;
overflow-x: hidden;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
}


.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width: 150px;
height: auto;
position: relative;
}
/**/