@charset "utf-8";

#entourage {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

#entourage-header {
  background: url(http://spectrum.webfactional.com/media/img/social/b4login/bg-header.png) no-repeat;
  width: 197px;
  height: 47px;
}

#entourage-content {
  background: url(http://spectrum.webfactional.com/media/img/social/b4login/bg.png) no-repeat;
  width: 197px;
  height: 211px;
}

#entourage-share {
  background: url(http://spectrum.webfactional.com/media/img/social/b4login/bg-share.png) no-repeat;
  padding-left: 20px;
  padding-top: 6px;
  color: #F00;
  font-size: 0.8em;
  width: 197px;
  height: 26px;
}

#socialfeed-header {
  background: url(http://spectrum.webfactional.com/media/img/social/b4feed/bg-header.png);
  background-repeat: no-repeat;
  width: 197px;
  height: 47px;
}

#socialfeed-content {
  background: url(http://spectrum.webfactional.com/media/img/social/b4feed/bg.png);
  background-repeat: no-repeat;
  padding: 0px 3px 0px 12px;
  width: 197px;
  height: 211px;
}

#socialfeed-bottom {
  background: url(http://spectrum.webfactional.com/media/img/social/b4feed/bg-bottom.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 3px;
  color: #F00;
  font-size: 0.8em;
  width: 197px;
  height: 26px;
}


