{% extends "base.html" %}

{% block content %}
  <form action="" method="get">
    <select name="month">
      <option>Month</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select name="year">
      {% for year in year_range %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
  </form>
  {% for entry in entries %}
    <h2>{{ entry.title }}</h2>
    <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
    
    {{ entry.excerpt|safe }}
    
    <p><a href="{{ entry.get_absolute_url }}">Read full article</a></p>
  {% endfor %}
{% endblock %}