{% extends "base.html" %}

{% block content %}
  <div id="breadcrumbs"><a href="/">Home</a>
    &raquo; <a href="/news/">News</a>
  </div>
  <br />
<div class="span-15" id="article">
  <form action="" method="get">
    View archive:
    <select name="month">
      <option value="1"{% ifequal current_month 1 %} selected="selected"{% endifequal %}>January</option>
      <option value="2"{% ifequal current_month 2 %} selected="selected"{% endifequal %}>February</option>
      <option value="3"{% ifequal current_month 3 %} selected="selected"{% endifequal %}>March</option>
      <option value="4"{% ifequal current_month 4 %} selected="selected"{% endifequal %}>April</option>
      <option value="5"{% ifequal current_month 5 %} selected="selected"{% endifequal %}>May</option>
      <option value="6"{% ifequal current_month 6 %} selected="selected"{% endifequal %}>June</option>
      <option value="7"{% ifequal current_month 7 %} selected="selected"{% endifequal %}>July</option>
      <option value="8"{% ifequal current_month 8 %} selected="selected"{% endifequal %}>August</option>
      <option value="9"{% ifequal current_month 9 %} selected="selected"{% endifequal %}>September</option>
      <option value="10"{% ifequal current_month 10 %} selected="selected"{% endifequal %}>October</option>
      <option value="11"{% ifequal current_month 11 %} selected="selected"{% endifequal %}>November</option>
      <option value="12"{% ifequal current_month 12 %} selected="selected"{% endifequal %}>December</option>
    </select>
    <select name="year">
      {% for year in year_range %}
        <option value="{{ year }}"{% ifequal current_year year %} selected="selected"{% endifequal %}>{{ year }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Go" />
  </form>
  {% for entry in entries %}
    <h2>{{ entry.title }}</h2>
    <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
    
    {{ entry.excerpt|truncatewords_html:35 }}
    
    <p><a href="/news/{{ entry.slug }}">Read full article</a></p>
  {% endfor %}
  
  {% if not entries %}
    <p>No news articles were found for this month.</p>
  {% endif %}
</div>
{% endblock %}