{% extends "base.html" %}

{% block content %}
  <form action="" method="get">
    <select name="month">
      <option value="1"{% if current_month == 1 %} selected="selected"{% endif %}>January</option>
      <option value="2"{% if current_month == 2 %} selected="selected"{% endif %}>February</option>
      <option value="3"{% if current_month == 3 %} selected="selected"{% endif %}>March</option>
      <option value="4"{% if current_month == 4 %} selected="selected"{% endif %}>April</option>
      <option value="5"{% if current_month == 5 %} selected="selected"{% endif %}>May</option>
      <option value="6"{% if current_month == 6 %} selected="selected"{% endif %}>June</option>
      <option value="7"{% if current_month == 7 %} selected="selected"{% endif %}>July</option>
      <option value="8"{% if current_month == 8 %} selected="selected"{% endif %}>August</option>
      <option value="9"{% if current_month == 9 %} selected="selected"{% endif %}>September</option>
      <option value="10"{% if current_month == 10 %} selected="selected"{% endif %}>October</option>
      <option value="11"{% if current_month == 11 %} selected="selected"{% endif %}>November</option>
      <option value="12"{% if current_month == 12 %} selected="selected"{% endif %}>December</option>
    </select>
    <select name="year">
      {% for year in year_range %}
        <option value="{{ year }}"{% if current_year == year %} selected="selected"{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
  </form>
  {% for entry in entries %}
    <h2>{{ entry.title }}</h2>
    <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
    
    {{ entry.excerpt|safe }}
    
    <p><a href="{{ entry.get_absolute_url }}">Read full article</a></p>
  {% endfor %}
{% endblock %}